:root {

  /* Colors */
  --bg-color: #FFFFFF;
  --link-color: #7BC3E8;
  --text-color: #7D7D7D;

  /* Primary */
  --primary: #2D9FDB;
  --primary-dark: #1674AB;

  /* Post-it colors */
  --post-it-purple: #C390BC;
  --post-it-blue: #A0C6E5;
  --post-it-yellow: #FEF496;
  --post-it-green: #D7DF6B;
  --post-it-orange: #FEB196;
  --post-it-red: #F67D60;

}
